<!DOCTYPE html>
<html>
  <head>
    <title>あの時食べたアレ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'shared/header' %> <!-- ヘッダー -->
    <%= yield %> <!-- 本文 -->
    <%= render 'shared/footer' %> <!-- フッター -->
  </body>
</html>
