<!DOCTYPE html>
<html>
  <head>
    <title>あの時食べたアレ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Tailswind.cssとApplication.cssを読み込み -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[#F5F2E9] font-serif" data-controller="modal" id="global-modal">
    <!-- ヘッダー -->
    <%= render 'shared/header' %>
    
    <main class="flex-1 pt-10 pb-10">
      <!-- 本文 -->
      <%= yield %>
    </main>
    <!-- モーダルを読み込む（全ページで使える） -->
    <%= render "shared/modal" %>

    <!-- フッター -->
    <%= render 'shared/footer' %>
  </body>
</html>